version: '3.4'

# See https://github.com/passbolt/passbolt_docker/blob/master/docker-compose.yml

services:
  db:
    image: {{db_image_name}}:{{db_image_version}}
    container_name: {{db_container_name}}
    volumes:
      - {{database_volume}}:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=/run/secrets/database_root_password
      - MYSQL_DATABASE=passbolt_db
      - MYSQL_USER=passbolt_user
      - MYSQL_PASSWORD=/run/secrets/database_user_password
    secrets:
      - database_root_password
      - database_user_password

  passbolt:
    image: {{image_name}}:{{image_version}}
    container_name: {{container_name}}
    tty: true
    ports:
      - {{interface}}:{{http_port}}:80
      - {{interface}}:{{https_port}}:443
    environment:
      - DATASOURCES_DEFAULT_HOST=db
      - DATASOURCES_DEFAULT_PASSWORD=/run/secrets/database_user_password
      - DATASOURCES_DEFAULT_USERNAME=passbolt_user
      - DATASOURCES_DEFAULT_DATABASE=passbolt_db
      - APP_FULL_BASE_URL={{full_base_path}}
{% if passbold_key_length is defined and passbold_key_length > 0 %}
      - PASSBOLT_KEY_LENGTH={{passbold_key_length}}
{% endif %}
{% if passbold_subkey_length is defined and passbold_subkey_length > 0 %}
      - PASSBOLT_SUBKEY_LENGTH={{passbold_subkey_length}}
{% endif %}
{% if passbold_key_name is defined and passbold_key_name | length > 0 %}
      - PASSBOLT_KEY_NAME={{passbold_key_name}}
{% endif %}
{% if passbold_key_email is defined and passbold_key_email | length > 0 %}
      - PASSBOLT_KEY_EMAIL={{passbold_key_email}}
{% endif %}
{% if email_from is defined and email_from | length > 0 %}
      - EMAIL_DEFAULT_FROM={{email_from}}
{% endif %}
{% if email_host is defined and email_host | length > 0 %}
      - EMAIL_TRANSPORT_DEFAULT_HOST={{email_host}}
{% endif %}
{% if email_port is defined and email_port > 0 %}
      - EMAIL_TRANSPORT_DEFAULT_PORT={{email_port}}
{% endif %}
{% if email_username is defined and email_username | length > 0 %}
      - EMAIL_TRANSPORT_DEFAULT_USERNAME={{email_username}}
{% endif %}
{% if email_password is defined and email_password | length > 0 %}
      - EMAIL_TRANSPORT_DEFAULT_PASSWORD={{email_password}}
{% endif %}
{% if email_tls is defined and email_tls | bool %}
      - EMAIL_TRANSPORT_DEFAULT_TLS=true
{% endif %}
{% if public_registration is defined and public_registration | bool %}
      - PASSBOLT_REGISTRATION_PUBLIC=true
{% endif %}
    volumes:
      - {{config_volume}}:/var/www/passbolt/config/gpg
      - {{gpg_volume}}:/home/www-data/.gnupg
      - {{images_volume}}:/var/www/passbolt/webroot/img/public
      - {{certs_volume}}:/etc/ssl/certs
    tmpfs:
      - /run
      - /tmp
    command: ["/usr/bin/wait-for.sh", "-t", "0", "db:3306", "--", "/docker-entrypoint.sh"]
    secrets:
      - database_user_password

secrets:
  database_root_password:
    file: {{database_root_password_file_path}}
  database_user_password:
    file: {{database_user_password_file_path}}
