[Install]
WantedBy=multi-user.target

[Unit]
Description={{service_name}} service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-{{docker_compose_executable}} --project-directory {{docker_working_directory}} \
                             --file {{docker_compose_path}} \
                             --project-name {{service_name}} \
                             down --remove-orphans

ExecStartPre={{docker_compose_executable}} --project-directory {{docker_working_directory}} \
                            --file {{docker_compose_path}} \
                            --project-name {{service_name}} \
                            pull

ExecStart={{docker_compose_executable}} --project-directory {{docker_working_directory}} \
                         --file {{docker_compose_path}} \
                         --project-name {{service_name}} \
                         up

ExecStop={{docker_compose_executable}} --project-directory {{docker_working_directory}} \
                         --file {{docker_compose_path}} \
                         --project-name {{service_name}} \
                         down --remove-orphans

Restart=always
RestartSec=60s
TimeoutSec=3600
